@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
@import url('https://fonts.googleapis.com/css?family=Unna');

body {
  background:  white;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}
#navbar {
  z-index: 1000;
  height: auto;
  position: fixed;
  margin-top: 0px;
  top: 0px;
  background: rgb(27,28,29);
  padding: 0px 0px;
}

#nav1 {
  border-radius: 0px !important;
  border: 0px;
  background: rgb(27,28,29);
}

#nav1 .item {
  border-radius: 0px;
}

#nav1 .item:hover{
  background: none;
}


#nav2 {
  width: 100%;
  position: absolute;
  margin-top: 0px;
  border-radius: 0px !important;
  overflow-x: scroll;
  border: 1px solid rgb(0,181,173);
  padding-left: 30px;
  padding-right: 30px;
}

#nav2 .item {
  font-family: 'Montserrat', sans-serif;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0px;
  font-size: 15px;
}

#nav2 .item:hover{
  background: none;
}

#nav2::-webkit-scrollbar {
    display: none;
}


#main {
  margin-top: 70px;
  /* border-left: 100px solid white;
  border-right: 100px solid white; */
  height: 450px;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  background-color: rgb(45,37,32);
}

#mainimg {
  /* opacity: 0.7; */
  filter: grayscale(0) brightness(0.8) contrast(1.2);
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}



#title {
  margin-top: -250px;
  position: absolute;
}

#title h1 {
  color: white;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Crimson Text', sans-serif;
}

#highlights {
  padding-bottom: 100px;
  padding-top: 100px;
  padding-left: 5%;
  padding-right: 5%;
  height: auto;
  margin-top: 50px;
}


#highlightstext {
  margin-bottom: 50px;
}

#highlightstext h1 {
  font-family: 'Archivo black', sans-serif;
  width: 185px;
  padding-bottom: 20px;
  color: rgb(60,60,60);
  border-bottom: 3px solid rgb(60,60,60);
  transition: width 0.5s;
}

#highlightstext h1:hover {
  transition: width 0.5s;
}

#highlights .card {
  margin: 15px 15px 15px 15px;
  border-radius: 1px;
}
#highlights img {
  border-radius: 1px;
  filter: brightness(0.85) contrast(1.1);
}

#highlights .card-body .btn {
  border-radius: 1px;
}



#nav3 {
  width: 100%;
  position: absolute;
  margin-top: 10px;
  border-radius: 0px !important;
  overflow-x: scroll;
  /* border: 1px solid rgb(0,181,173); */
  padding-left: 30px;
  padding-right: 30px;
  background: white;
  height: 100px;
}

#nav3 .item {
  cursor: pointer;
  height: 50px;
  font-family: 'Montserrat', sans-serif;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  background: none;
  color: rgb(80,80,80);
  margin-right: 10px;
  border-radius: 2px;
  border: 1px solid lightgrey;
}

#nav3 .header {
  border-radius: 2px;
  color: whitesmoke;
}

#nav3 .item:hover{
  background: lightgrey;
}

#nav3::-webkit-scrollbar {
    display: none;
}
.card {
  max-width: 377px;
}

.card img {
  max-height: 250px;
  object-position: top;
  object-fit: cover;
}
