<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <title>SSR AMRITA</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/icon.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/menu.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/statistic.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/list.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/grid.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/card.min.css">
    <link rel="icon" href="{% static "home/ssricon.png" %}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static "home/home.css" %}">
  </head>
  <body>

    <div id="navbar" class="container-fluid">
      <center><div id="nav1" class="ui tiny four borderless inverted compact menu shadow-none">
          <a class="item" href="https://www.facebook.com/ssramrita2018" target="_blank"><i class="facebook f icon"></i></a>
          <a class="item" href="https://www.instagram.com/ssr2k18/" target="_blank"><i class="instagram icon"></i></a>
          <a class="item" href="https://www.youtube.com/channel/UC9HbmrFmbNqqQIlgBoLH1OA"  target="_blank"><i class="youtube icon"></i></a>
      </div></center>

      <div id="nav2" class="ui teal huge borderless inverted menu shadow-none">
        <a id="homenav" class="item">Home</a>
        <a id="historynav" class="item">History</a>
        <a id="inspirationnav" class="item">Inspiration</a>
        <a id="testnav" class="item">Testimonials</a>
        <a href="/projects/all" id="visionnav" class="item">View Blogs</a>
        <a class="item" href="https://ssramritapuri.blogspot.com/" target="_blank">SSR 2016</a>
        <a class="item" href="http://ssramrita.com/" target="_blank">SSR 2017</a>
        <a id="contactnav" class="item">Contact</a>
      </div>
    </div>

    <div id="title" class="container-fluid">
      <!-- <center><h1><span style="color:rgb(239,199,20);">S</span>tudent <span style="color:rgb(177,76,164);">S</span>ocial <span style="color:rgb(177,76,164);">R</span>esponsibility</h1></center> -->
      <center><h1>Student Social Responsibility</h1></center>
      <center><h3>2018</h3></center>

    </div>

    <div id="main" data-aos="fade-up" class="container-fluid">
        <img id="mainimg" src="{% static "home/main.JPG" %}">
        <center><button id="viewblogs" type="button" class="btn btn-outline-light shadow-sm" name="button" onclick="window.location.href='/projects/all'">View Blogs</button></center>

    </div>

    <div id="about" class="container-fluid">
      <div class="row">
        <div data-aos="fade-up" data-aos-easing="ease-in-back" id="aboutimgbox" class="col-md-6">
          <img id="aboutimg" src="{% static "home/about.JPG" %}">
        </div>
        <div data-aos="fade-left"  data-aos-delay="500"  id="abouttext" class="col-md-6">
          <h1><b>About</b></h1>
          <p><b><span style="font-size:30px;">G</span>iving back to the society whatever little we can, this is the small thought that led to this massive community service program that we call SSR (Student Social Responsibility).</br>The aim of this student driven program is nothing but the well-being of the society through various projects. Being able to interact with people and bring about solutions for the various problems in their daily life is something that the students of Amrita have mastered at this young age. The program teaches the students how to be socially responsible as citizens. The main idea, however, is to inspire - inspire the youth to take this up as an example and bring about a change in their own way!</b></p>
        </div>
      </div>
    </div>

    <div id="history" class="container-fluid">
      <div data-aos="fade-left" id="historytext">
        <h1><b>History</b></h1>
      </div>
      <div data-aos="fade-up" class="ui tiny statistics">
        <div class="statistic">
          <span class="value">
            <i class="calendar outline icon"></i> 10+
          </span>
          <span class="label">
            years
          </span>
        </div>
        <div class="statistic">
          <span class="value">
            <i class="newspaper outline icon"></i> 994+
          </span>
          <span class="label">
            Community Projects
          </span>
        </div>
        <div class="statistic">
          <span class="value">
            <i class="user outline icon"></i> 5688+
          </span>
          <span class="label">
            Students Involved
          </span>
        </div>
        <div class="statistic">
          <span class="value">
            <i class="clock outline icon"></i> 272000+
          </span>
          <span class="label">
            Student Hours
          </span>
        </div>
      </div>
    </div>

    <div id="inspiration" class="container-fluid">
      <div data-aos="fade-left" id="inspirationtext">
        <h1><b>Inspiration</b></h1>
      </div>
      <div class="row">
        <div data-aos="fade-up" data-aos-easing="ease-in-back" id="inspirationbox" class="col-md-6">
          <img id="inspirationimg" src="https://ammascandal.files.wordpress.com/2014/05/amma.jpg">
        </div>
        <div data-aos="fade-left"  data-aos-delay="500" id="inspirationcontent" class="col-md-6">
          <p><b><span style="font-size:30px;">S</span>piritual leader, humanitarian and visionary Sri Mata Amritanandamayi Devi (known to millions simply as ‘Amma’), is an active social worker of the world community. Through her inspiring life of love, inner strength and self-sacrifice, Amma has inspired people all over the planet to strive to make more and more space in their hearts for others and to dedicate free time to social service.
Mata Amritanandamayi Math under the guidance of our beloved Amma has built more than 80,000 homes for the homeless throughout India, has provided scholarships for more than 50,000 impoverished children, and has helped more than one lakh poverty-stricken women form self-help groups, and much more. It is with Amma's blessings, and her works as an inspiration that we are successful in this endeavor.</b></p>
        </div>
      </div>
    </div>

    <div style="background:rgb(80,80,80);padding-top:7px;" id="video" class="container-fluid">
      <center><iframe  width="75%" height="450" src="https://www.youtube.com/embed/8O3df8lXOME" frameborder="0" allow="encrypted-media" allowfullscreen=""></iframe></center>
    </div>

    <div id="testimonials" class="container-fluid">
      <div data-aos="fade-up" id="testimonialstext">
        <center><h1><b>Testimonials</b></h1></center>
      </div>

      <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <center><img src="https://afcm.ca/wp-content/uploads/2018/06/no-photo.png" class="d-block" alt="..."></center>
            <div class="carousel-caption d-none d-block">
              <p><i>"SSR is Amrita's flagship community outreach program that exposes students to the realities of life. It offers them a unique opportunity to make a real difference in the world outside and practice humanity in their own little ways."</i></p>
              <h5><b>Br. Biju Kumar</b></h5>
            </div>
          </div>
          <div class="carousel-item">
            <center><img style="object-position: top;object-fit:cover;" src="/static/home/kiran.jpg" class="d-block" alt="..."></center>
            <div class="carousel-caption d-none d-block">
              <p><i>"SSR a state of the art student-facilitated program, which continues to strive for excellence in designing and developing a stronger youth."</i></p>
              <h5><b>Kiran Kumar B</b></h5>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div id="contact" class="container-fluid">
      <div data-aos="fade-left" id="contacttext">
        <h1><b>Contact</b></h1>
      </div>
      <div id="contactcontent" class="container-fluid">
        <img src="{% static "home/amritapuri.jpg" %}" alt="">

        <div class="ui list">
          <div class="item">
            <!-- <i class="ban icon"></i> -->
            <div class="content">
              <h3 >Address</h3>
              <b class="header">Amrita Vishwa Vidyapeetham Clappana.P.O, Kollam 690525</b>
            </div>
          </div>
          <div class="item">
            <!-- <i class="ban icon"></i> -->
            <div class="content">
              <h3>Country</h3>
              <b class="header">India</b>
            </div>
          </div>
          <div class="item">
            <!-- <i class="ban icon"></i> -->
            <div class="content">
              <h3>E-mail</h3>
              <b class="header">ssramritapuri@gmail.com</b>
            </div>
          </div>
        </div>
        <div id="amritalogo" class="container-fluid">
          <img src="{% static "home/amritalogo.png" %}" alt="">
        </div>
      </div>
    </div>

    <div id="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d15758.614646236963!2d76.48602844778645!3d9.09528039119549!3m2!1i1024!2i768!4f13.1!2m1!1samrita+vishwa+vidyapeetham+amritapuri+campus!5e0!3m2!1sen!2sin!4v1517677882074" height="450px" width="100%" frameborder="0" style="border:0" allowfullscreen=""></iframe>
    </div>


    <div id="end" class="container-fluid">
      <footer>
        <div class="line">
            <div class="s-12 l-6">
               <p>Copyright © 2017, SSR@Amrita</p>
               <p>Cause Supported by Amrita University</p>
            </div>
         </div>
      </footer>
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script>
      $('#about').hover(function() {
        $('#abouttext h1').css("width", "100%");
      }, function(){
        $('#abouttext h1').css("width", "130px");
      });

      $('#inspirationnav').click(function() {
        window.scroll({top: $("#inspiration").offset().top - 15,left: 0,behavior: 'smooth'});
      });
      $('#homenav').click(function() {
        window.scroll({top: 0,left: 0,behavior: 'smooth'});
      });
      $('#historynav').click(function() {
        window.scroll({top: $("#history").offset().top - 150,left: 0,behavior: 'smooth'});
      });
      $('#testnav').click(function() {
        window.scroll({top: $("#testimonials").offset().top - 25,left: 0,behavior: 'smooth'});
      });
      $('#contactnav').click(function() {
        window.scroll({top: $("#contact").offset().top - 50,left: 0,behavior: 'smooth'});
      });

      $('#history').hover(function() {
          $('#historytext h1').css("width", "100%");
        }, function(){
          $('#historytext h1').css("width", "160px");
      });

      $('#inspiration').hover(function() {
        $('#inspirationtext h1').css("width", "100%");
      }, function(){
        $('#inspirationtext h1').css("width", "240px");
      });

      $('#testimonials').hover(function() {
        $('#testimonialstext h1').css("width", "100%");
      }, function(){
        $('#testimonialstext h1').css("width", "280px");
      });

      $('#contact').hover(function() {
        $('#contacttext h1').css("width", "100%");
      }, function(){
        $('#contacttext h1').css("width", "180px");
      });

      $('#end').hover(function() {
        $('#endtext h1').css("width", "100%");
      }, function(){
        $('#endtext h1').css("width", "120px");
      });

      </script>

  </body>
</html>
